[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/fluffle/goirc"]
	path = vendor/github.com/fluffle/goirc
	url = https://github.com/fluffle/goirc
[submodule "vendor/github.com/jroimartin/gocui"]
	path = vendor/github.com/jroimartin/gocui
	url = https://github.com/jroimartin/gocui
[submodule "vendor/github.com/nsf/termbox-go"]
	path = vendor/github.com/nsf/termbox-go
	url = https://github.com/nsf/termbox-go
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/golang.org/net"]
	path = vendor/golang.org/net
	url = https://github.com/golang/net
[submodule "vendor/golang.org/text"]
	path = vendor/golang.org/text
	url = https://github.com/golang/text
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "vendor/github.com/marcusolsson/tui-go"]
	path = vendor/github.com/marcusolsson/tui-go
	url = https://github.com/marcusolsson/tui-go
